body {
  background: url(pink_toned_cake.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hero {
  color: #ccc;
  margin-top: 20%;
  text-align: center;
  font-size: 75px;
  letter-spacing: 0
  line-height: 1.2em;
  font-family: 'Lobster', cursive;
}

.ima {
  height: 150px;
  width: 220px;
}
